:root {
  /* Colors: */
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-000000: #000000;
  --unnamed-color-a7e9e3: #a7e9e3;

  /* Font/text values */
  --unnamed-font-family-montserrat: Montserrat;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-600: 600px;
  --unnamed-font-weight-800: 800px;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-24: 24px;
  --unnamed-font-size-25: 25px;
  --unnamed-font-size-34: 34px;
  --unnamed-font-size-52: 52px;
  --unnamed-font-size-63: 63px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-22: 22px;
  --unnamed-line-spacing-29: 29px;
  --unnamed-line-spacing-30: 30px;
  --unnamed-line-spacing-42: 42px;
  --unnamed-line-spacing-63: 63px;
  --unnamed-line-spacing-77: 77px;
}
html,
body {
  box-sizing: border-box;
  widows: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Character Styles */
.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-800);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-22);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-800);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-22);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-800);
  font-size: var(--unnamed-font-size-52);
  line-height: var(--unnamed-line-spacing-63);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-4 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-800);
  font-size: var(--unnamed-font-size-63);
  line-height: var(--unnamed-line-spacing-77);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-5 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-800);
  font-size: var(--unnamed-font-size-63);
  line-height: var(--unnamed-line-spacing-77);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-6 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-22);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-7 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-22);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-8 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-25);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-9 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-29);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-10 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-34);
  line-height: var(--unnamed-line-spacing-42);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.rectangle1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1080px;
  background: #000000a3 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  opacity: 1;
}
.rectangle2 {
  top: 120px;
  left: 215px;
  width: 745px;
  height: 840px;

  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 10px #00000029;
  border: 1px solid #707070;
  opacity: 1;
  position: relative;
}
.rectangle9 {
  top: 120px;
  width: 745px;
  height: 840px;
  background: transparent linear-gradient(318deg, #1b3123 0%, #2bc690 100%);
  opacity: 1;
  padding: 80px;
  position: relative;
}
.group3 {
  margin-top: 100px;
  margin-left: 50px;
  width: 532px;
  height: 549px;
  opacity: 1;
  padding: 30px;
  position: relative;
}
.signup {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 100px;
  width: 254px;
  height: 77px;
  font-style: normal;
  font-weight: bolder;
  font-size: 50px;
  font-family: "Montserrat";
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  text-align: center;
}
.siupip {
  margin-top: 20px;
  margin-left: 10px;
  padding: 12px;
  width: 475px;
  height: 50px;
  background: #f0f0f0 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #00000029;
  border-radius: 5px;
  border-color: #f0f0f0;
  opacity: 1;
}
.btn-signup-text {
  margin-left: 10px;
  width: 158px;
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  font-family: "montserrat";
  color: #ffffff;
  text-align: center;
  letter-spacing: 0px;
  opacity: 1;
}
.btn-signup {
  margin-top: 60px;
  margin-left: 10px;
  width: 242px;
  height: 63px;
  background: transparent linear-gradient(90deg, #1b3123 0%, #2bc690 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 10px 20px #00000029;
  border-radius: 39px;
  padding: 12px;
  opacity: 1;
  text-align: center;
}
.group4 {
  margin-left: 50px;
  width: 532px;
  height: 549px;
  opacity: 1;
  padding-top: 45px;
  padding-left: 30px;
  position: relative;
}
.signin {
  margin-top: 70px;
  margin-bottom: 80px;
  margin-left: 100px;
  width: 254px;
  height: 77px;
  font-style: normal;
  font-weight: bolder;
  font-size: 50px;
  font-family: "Montserrat";
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  text-align: center;
}
.siinip {
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px;
  width: 475px;
  height: 50px;
  background: #f0f0f0 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #00000029;
  border-radius: 5px;
  border-color: #f0f0f0;
  opacity: 1;
}
.fpass {
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 300px;
  width: 500px;
  height: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  font-family: "monsterrat";
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.btn-signin {
  margin-top: 30px;
  margin-left: 5px;
  width: 190px;
  height: 65px;
  box-shadow: 0px 10px 50px #00000029;
  border: 1px solid #ffffff;
  border-radius: 30px;
  opacity: 1;

  background: transparent;
}
.btn-signin-text {
  margin-left: 10px;
  width: 158px;
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  font-family: "montserrat";
  color: #ffffff;
  text-align: center;
  letter-spacing: 0px;
  opacity: 1;
}
header {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 56px;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.8;
  padding-left: 250px;
  position: sticky;
}
.notre {
  top: 6px;
  left: 277px;
  width: 288px;
  height: 45px;
  padding-right: 400px;
  font-style: normal;
  font-weight: 1000;
  font-family: "montserrat";
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal 800 37px/45px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.search {
  margin-right: 25px;
  width: 27px;
  height: 27px;
  color: #ffffff;
  opacity: 1;
}
.btn-login {
  top: 8px;
  width: 112px;
  height: 40px;
  margin-left: 30px;
  box-shadow: 0px 1px 3px #00000033;
  border: 1px solid #ade9e3;
  background: transparent;
  border-radius: 20px;
  opacity: 1;
  color: #2bc690;
  font-size: 20px;
}
.mycart {
  top: 100px;
  left: 136px;
  width: 392px;
  height: 116px;
  margin-bottom: 180px;
  font-style: normal;
  font-weight: 1000;
  font-family: "montserrat";
  text-align: center;
  font: normal normal 800 95px/116px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  position: relative;
}
.cart-box {
  margin-top: 50px;
  left: 140px;
  width: 1640px;
  height: 280px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #00000029;
  opacity: 1;
  position: relative;
}
.total {
  margin-top: 100px;
  margin-left: 1400px;
  width: 380px;
  height: 90px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid gray;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  padding: 20px;
  font-family: "montserrat";
  opacity: 1;
}
.btn-buyall {
  margin-top: 50px;
  margin-left: 1400px;
  width: 213px;
  height: 59px;
  background: transparent linear-gradient(90deg, #1b3123 0%, #2bc690 100%) 0% 0%
    no-repeat padding-box;
  font-style: normal;
  font-weight: 400;
  font-family: "montserrat";
  font-size: 35px;
  box-shadow: 0px 10px 20px #00000029;
  border-radius: 82px;
  color: #ffffff;
  opacity: 1;
}
.feature {
  margin-top: 100px;
  margin-left: 150px;
  width: 294px;
  height: 39px;
  font-style: normal;
  font-weight: 800;
  font-family: "montserrat";
  text-align: center;
  font: normal normal 800 32px/39px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.img-fluid {
  height: 250px;
  width: 100%;
  padding: 10px;
}
.img-fluid-sel {
  height: 302px;
  width: 100%;
  padding: 10px;
}
.feature-box {
  margin-top: 100px;
  margin-left: 150px;
  width: 1500px;
  height: 300px;
  margin-bottom: 200px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #00000029;
  opacity: 1;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.cart-product {
  margin-top: 80px;
  padding-right: 65px;
  height: 63px;
  font-style: normal;
  font-size: 52px;
  font-family: "montserrat";
  font-weight: 800;
  text-align: right;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.vl {
  margin-left: 1200px;
  width: 0px;
  height: 278px;
  border: 3px solid #000000;
  opacity: 1;
}
.cart-price {
  margin-top: 30px;
  top: 492px;
  left: 1643px;
  padding-right: 65px;
  height: 42px;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  font-family: "montserrat";
  text-align: right;

  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.chat-bot {
  top: 800px;
  left: 1687px;
  padding: 20px;
  width: 97px;
  height: 97px;
  background: transparent linear-gradient(180deg, #1b3123 0%, #2bc690 100%) 0%
    0% no-repeat padding-box;
  border-radius: 148px 148px 14px 148px;
  opacity: 1;
  position: sticky;
}
.chat-bot-box {
  left: 1708px;
  padding: 10px;
  width: 55px;
  height: 54px;
  border: 5px solid var(--unnamed-color-ffffff);
  border: 5px solid #ffffff;
  border-radius: 16px;
  opacity: 1;
}
.chat-bot-line {
  left: 1726px;
  width: 20px;
  height: 21px;
  opacity: 1;
}
.please-select {
  margin-left: 130px;
  width: 442px;
  height: 29px;
  font-style: normal;
  font-size: 24px;
  font-family: "montserrat";

  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.payment {
  top: 100px;
  left: 136px;
  width: 392px;
  height: 116px;
  margin-bottom: 105px;
  font-style: normal;
  font-weight: 1000;
  font-family: "montserrat";
  text-align: center;
  font: normal normal 800 95px/116px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  position: relative;
}
.details {
  margin-left: 120px;
  margin-bottom: 20px;
  height: 59px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  font-family: "montserrat";
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.payment-name {
  margin-top: 30px;
  margin-left: 130px;
  width: 150px;
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  font-family: "montesrrat";
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.payment-input {
  margin-left: 140px;
  margin-top: 10px;
  width: 645px;
  height: 62px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}
.payment-input-sm {
  margin-top: 10px;
  width: 300px;
  height: 62px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}
.btn-proceed {
  margin-top: 80px;
  margin-left: 600px;
  margin-bottom: 200px;
  width: 213px;
  height: 59px;
  background: transparent linear-gradient(90deg, #1b3123 0%, #2bc690 100%) 0% 0%
    no-repeat padding-box;
  font-style: normal;
  font-weight: 400;
  font-family: "montserrat";
  color: #ffffff;
  font-size: 25px;
  box-shadow: 0px 10px 20px #00000029;
  border-radius: 50px;
  opacity: 1;
}
.search-sh {
  width: 212px;
  height: 38px;
  margin-bottom: 10px;
  margin-right: 10bopx;
  border: 1px solid #ffffff;
  border-radius: 19px;
  color: #bd9999;
  opacity: 1;
  background-color: transparent;
  padding: 10px;
}
.notre-m {
  margin-top: 80px;
  margin-left: 10px;
  width: 1126px;
  height: 176px;
  text-align: left;
  font-style: normal;
  font-weight: 1000;
  font-family: "montserrat";
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-size: 70px;
}
.product-name {
  margin-top: 100px;
  width: 804px;
  height: 116px;
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-style: normal;
  font-weight: 1000;
  font-family: "montserrat";
  font-size: 80px;
}
.line {
  margin-top: 150px;
  widows: 100%;
  height: 2px;
  background-color: black;
  box-sizing: border-box;
}
.prod-m {
  padding-top: 70px;
  margin-top: 100px;
  margin-left: 30px;
  width: 1126px;
  height: 176px;
  font-style: normal;
  font-weight: 1000;
  font-family: "montserrat";
  text-align: center;
  color: black;
  opacity: 1;
  font-size: 70px;
}
.feature {
  margin-top: 150px;
  width: 900px;
  height: 39px;
  text-align: center;
  font-style: normal;
  font-weight: 1000;
  font-family: "montserrat";
  color: #000000;
  opacity: 1;
  font-size: 40px;
}
.notre-ma {
  margin-top: 80px;
  margin-left: 100px;
  width: 1126px;
  height: 176px;
  text-align: left;
  font-style: normal;
  font-weight: 1000;
  font-family: "montserrat";
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-size: 100px;
}
.product-img {
  margin-top: 40px;
  width: 688px;
  height: 436px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #00000030;
  opacity: 1;
}
.product-img-l {
  margin-top: 40px;
  width: 388px;
  height: 480px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #00000030;
  opacity: 1;
  margin-left: 60px;
}
.notre-ca {
  margin-top: 80px;
  margin-left: 100px;
  width: 1126px;
  height: 176px;
  text-align: left;
  font-style: normal;
  font-weight: 1000;
  font-family: "montserrat";
  text-align: center;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
  font-size: 100px;
}
.container-n {
  margin-top: 80px;
  margin-left: 60px;
  width: 1700px;
  height: 400px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #00000029;
  opacity: 1;
}
.btn-explore {
  margin-top: 60px;
  margin-left: 10px;
  width: 242px;
  height: 63px;
  background: transparent linear-gradient(90deg, #1b3123 0%, #2bc690 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 10px 20px #ffffff;
  border-radius: 39px;
  padding: 12px;
  opacity: 1;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  font-family: "montserrat";
  color: #ffffff;
}
